html, body{
 padding: 0;
 margin: 0;
}

.season-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 100px;
    width: 100%;
    height: calc(100vh - 100px);;
    background: no-repeat top / cover;
}

.season {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    border: 3px solid #ccc;
    background:  no-repeat center top / cover;
    padding: 30px;
    display: flex;
    justify-content: center;

    &__icon{
        max-width: 100%;
        max-height: 100%;
    }
}

h1 {
    color: orange;
    text-align: center;
    font-size: 3rem;
}

.seasons {
    max-width: 100%;
    justify-content: center;
    display: flex;
    padding: 50px 0 50px;
    column-gap: 30px;
}

.volume {
    text-align: center;
}
